In [1]:
import pandas as pd
import json

In [13]:
results = json.load(open("../black_results.json"))
p=pd.DataFrame({
    "fname": [r[0] for r in results],
    "similarity": [r[1] for r in results]
    }
)

In [16]:
p.sort_values(by='similarity')

                 fname  similarity
3450  test.0_59.29.tif    0.000000
4335  test.0_74.40.tif    0.000000
4334  test.0_74.44.tif    0.000000
4333  test.0_74.41.tif    0.000000
4332  test.0_74.46.tif    0.000000
...                ...         ...
4815  test.0_82.56.tif   62.005646
4866  test.0_83.55.tif   62.114871
4867  test.0_83.56.tif   62.378374
4874  test.0_83.57.tif   62.443004
4813  test.0_82.57.tif   62.646678

[6902 rows x 2 columns]

In [22]:
fnames = [os.path.join("../movie/1670735481.848799", fname) for fname in p[p.similarity == 0].fname.values]

array(['test.0_0.29.tif', 'test.0_1.1.tif', 'test.0_1.2.tif', ...,
       'test.0_118.56.tif', 'test.0_118.53.tif', 'test.0_118.52.tif'],
      dtype=object)